*.netrwhist
*autoload/
*plugged/
*coc/
*wslu/
*nvim/.config/configstore

nvim/.config/lazygit
**/__pycache__
**/*.log
bin/.local/state
bin/.local/share
bin/.local/.npm-global

.dS_Store
tmux/.config/tmux/plugins/tpm/
tmux/.config/tmux/plugins/
