! URxvt
!! Settings
URxvt.termName: rxvt-unicode
URxvt.buffered: true
URxvt.loginShell: true
URxvt.saveLines: 5000

!! Text
URxvt.font: xft:Roboto Mono
URxvt.cursorBlink: true
URxvt.depth: 24
URxvt.borderless: 1
URxvt.scrollBar: false

!! UI

!! Scrolling
URxvt.secondaryScroll: true    # Enable Shift-PageUp/Down in screen
URxvt.scrollTtyKeypress: true 

!! Extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1
URxvt.tabbed.saveLines: 5000
URxvt.tabbed.scrollBar: false
URxvt.tabbed.secondaryScroll: true
URxvt.intensityStyles: false

! 16-base colour scheme
!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!! URxvt.background: #000000
