! URxvt
!! Settings
URxvt.termName: rxvt-unicode
URxvt.buffered: true
URxvt.loginShell: true
URxvt.saveLines: 10000

!! Text
URxvt.font: xft:Hack
URxvt.cursorBlink: true
URxvt.depth: 24
URxvt.borderless: 1
URxvt.scrollBar: false

!! UI
URxvt.internalBorder: 20

!! Scrolling
URxvt.secondaryScroll: true    # Enable Shift-PageUp/Down in screen
URxvt.scrollTtyKeypress: true 

!! Extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1
URxvt.tabbed.saveLines: 5000
URxvt.tabbed.scrollBar: false
URxvt.tabbed.secondaryScroll: true
URxvt.intensityStyles: false

! 16-base Gruvbox theme: https://github.com/morhetz/gruvbox
!! special
*.foreground:   #ebdbb2
*.background:   #282828
*.cursorColor:  #ebdbb2

!! black dark/light
*.color0:       #282828
*.color8:       #928374

!! red dark/light
*.color1:       #cc241d
*.color9:       #fb4934

!! green dark/light
*.color2:       #98971a
*.color10:      #b8bb26

!! yellow dark/light
*.color3:       #d79921
*.color11:      #fabd2f

!! blue dark/light
*.color4:       #458588
*.color12:      #83a598

!! magenta dark/light
*.color5:       #b16286
*.color13:      #d3869b

!! cyan dark/light
*.color6:       #689d6a
*.color14:      #8ec07c

!! white dark/light
*.color7:       #a89984
*.color15:      #ebdbb2
